# every variable in python is acts like a object and object has three characteristics
# identity
# type
# value

In [2]:
a=30
print(id(a))
print(type(a))
print(a)

1616562800
<class 'int'>
30

In [3]:
b=54
b

54

In [4]:
print(id(b))

1616563184

In [6]:
a=10
b=34.5
c="gitam"
d=2+4j
print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

10 34.5 gitam (2+4j)
<class 'int'> <class 'float'> <class 'str'> <class 'complex'>

# number types:
## integer
## float
## complex
## boolean
## all numbers are immutable,values are not
## modified,if they modified new references
## pointing to modified value

In [9]:
a=10
print(id(a))
a=100
print(id(a))

1616562480
1616563920

In [12]:
a=2+5j
print(a)
print(a.real)
print(a.imag)
print(a.conjugate())
c=complex(3,4)
print(c)

(2+5j)
2.0
5.0
(2-5j)
(3+4j)

In [20]:
c=2+5j
d=5+7j
print(c+d)
print(c-d)
print(c*d)

(7+12j)
(-3-2j)
(-25+39j)

In [21]:
str="gitam"
str1='gitam'
print(str)
print(str1)
print(type(str),type(str1))
print(len(str))

gitam
gitam
<class 'str'> <class 'str'>
5

# type conversions:
## int()
## float()
## complex()
## list()
## tuple()
## set()
## dict()
## bool()

# input()
## it is used to give the input to the program
## and its type is string and by 
## using type conversions to convert it into other types

In [24]:
a=input("enter the number")
print(type(a))
b=int(a)
print(type(b))
print("the number is",b)

enter the number54
<class 'str'>
<class 'int'>
the number is 54

In [25]:
# comments in the python

'''
document string
'''

'\ndocument string\n'

In [29]:
a=100
'''
print("its give the description about resource of python")
'''
b=10
print(a)

100

In [30]:
b="1947"
print(type(b))
print(len(b))
c=int(b)
print(type(c))
#print(len(c))

<class 'str'>
4
<class 'int'>

In [33]:
a=int(input("enter the first number"))
b=float(input("enter the second number"))
c=a*b
print("the mul is",c)

enter the first number54
enter the second number27
the mul is 1458.0

# types of operators:
## 1) arthmetic operators
   ### +,-,*,/(decimal quotient),//(integer quotient),**,%
   ### //(floor division)
   ### % remiander
   ### **(acts like pow(),where arguments are integers)

In [34]:
a=12
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

17
7
60
2.4
2
2
248832

## relational opeartors:
### <,<=,>,>=,==,!=

In [35]:
x=10
y=34
print(x<34)
print(x==y)
print(x!=y)
print(int(x>y))
print(int(y>x))

True
False
True
0
1

# logical opeartors:
## and or not

In [36]:
x=23
print(x>=20 and x<=30)
print(x>=30 or x<=20)
print(not(x))

True
False
False

# membership opeartors:
## in,not in

In [37]:
str1="gitam"
print('i' in str1)
print('z'  not in str1)

True
True

# identity opeartors
## is,isnot

In [38]:
a=45
b=89
print(a is b)
print(a is not b)

False
True

# Bitwise operators:(works with 0 and 1)
## &,|,<<,>>,~
## <<left shift
## >>right shift
## ~(1's complement)

# special operators:
## + and , are used for concatenation
## * repetation operator
## [start:stop:step] slice operator
## range(start,stop,step)
## indentation:
### it represents block or{} in c language

In [41]:
a=100
print("the value of a is ",a)
c=[1,2,3]
d=[4,5,6]
print(c+d)
d="gitam"
print(d*3)
print(d[1:3])
print(list(range(1,10,2)))

the value of a is  100
[1, 2, 3, 4, 5, 6]
gitamgitamgitam
it
[1, 3, 5, 7, 9]

## control statements:
## 1)if statement
### if (condition):
         statement1
         statement2
### else:
         statements1
         statements2

In [45]:
a=int(input("enter the number"))
if(a>0):
    print("it is +ve no")
if(a<0):
    print("it is -ve no")
if(a==0):
    print("it is zero")

enter the number54
it is +ve no

In [48]:
a=int(input("enter a number"))
if(a%2==0):
    print("even")
else:
    print("odd")

enter a number54
even

In [63]:
a=int(input("enter year"))
if((a%4==0 and a%100!=0) or (a%400==0)):
    print("yes it is a leap year")
else:
    print("not a leap year")

enter year2000
yes it is a leap year

In [67]:
a,b,c=10,20,54
if(a>b and a>c):
    print(a,"is big")
elif(b>c):
    print(b,"is big")
else:
    print(c,"is big")

54 is big

In [68]:
a=10
b=20
print("before swapping",a,b)
a,b=b,a
print("after swapping",a,b)

before swapping 10 20
after swapping 20 10

In [74]:
a=10
b=20
c=int(input("enter the choice till 1-4"))
if(c==1):
    print(a+b)
elif(c==2):
    print(a*b)
elif(c==3):
    print(a%b)
elif(c==2):
    print(a/b)

enter the choice till 1-42
200

In [80]:
ch=input("enter the character")
if(ch=='a'or ch=='e'or ch=='i' or ch=='o' or ch=='u'):
    print("it is a vowel")
elif(ch=='A'or ch=='E'or ch=='I' or ch=='O' or ch=='U'):
    print("it is vowel")
else:
    print("it is consonant")

enter the charactera
it is a vowel